<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tuk.mento.mapper.program.ProgramMapper">
    <insert id="registerProgram" parameterType="tuk.mento.common.vo.CustomMap"
            useGeneratedKeys="true" keyProperty="program_no" keyColumn="program_no">
		<![CDATA[
        INSERT INTO PROGRAM_TB
            (
                MENTO_NO,
                SUBJECT,
                DETAIL,
                PRO_START_DATE,
                PRO_FINISH_DATE,
                RECRUIT_START_DATE,
                RECRUIT_FINISH_DATE,
                CAPACITY,
                PRO_PLACE,
                REG_DT,
                MOD_DT
            )
        VALUES
            (
                #{mento_no},
                #{subject},
                #{detail},
                #{pro_start_date},
                #{pro_finish_date},
                #{recruit_start_date},
                #{recruit_finish_date},
                #{capacity},
                #{pro_place},
                NOW(),
                NOW()
            );
        ]]>
	</insert>

    <insert id="registerProgramWeek" parameterType="tuk.mento.common.vo.CustomMap">
        <![CDATA[
			INSERT INTO PROGRAM_WEEK_TB
				(
				    PROGRAM_NO,
					DETAIL,
					REG_DT,
					MOD_DT
				)
			VALUES
		]]>
        <foreach item="programWeek" collection="programWeeks" separator=",">
            (
                #{program_no},
                #{programWeek.detail},
                NOW(),
                NOW()
            )
        </foreach>

    </insert>

    <select id="selectProgramList" resultType="tuk.mento.common.vo.CustomMap">
        <![CDATA[
            SELECT
                ROW_NUMBER() OVER(ORDER BY PT.PROGRAM_NO) AS ROW_NUM,
                MT.NAME,
                MT.COLLEGE,
                MT.MAJOR,
                MT.ACT_PLACE,
                PT.PROGRAM_NO,
                PT.PRO_START_DATE,
                PT.PRO_FINISH_DATE,
                DATEDIFF(PT.RECRUIT_FINISH_DATE, DATE_FORMAT(NOW(), "%Y-%m-%d")) AS DEADLINE,
                PT.SUBJECT,
                PT.DETAIL,
                PT.CAPACITY,
                (
                    SELECT
                        COUNT(*)
                    FROM PROGRAM_PARTI_TB PPT
                    WHERE PPT.PROGRAM_NO = PT.PROGRAM_NO
                ) AS PARTICIPANT
            FROM MENTO_TB MT
            INNER JOIN PROGRAM_TB PT
            ON MT.MENTO_NO = PT.MENTO_NO
        ]]>
        <choose>
            <when test="keyword != null">
                <![CDATA[
                    WHERE PT.SUBJECT LIKE CONCAT('%', #{keyword} ,'%');
                ]]>
            </when>
        </choose>
    </select>

    <select id="selectProgramDetail" resultType="tuk.mento.common.vo.CustomMap">
        <![CDATA[
            SELECT
                MT.MENTO_NO,
                MT.NAME,
                MT.COLLEGE,
                MT.MAJOR,
                MT.GRADE,
                MT.INTRODUCTION,
                MT.ACT_PLACE,
                PT.PROGRAM_NO,
                PT.SUBJECT,
                PT.DETAIL,
                PT.CAPACITY,
                PT.PRO_PLACE,
                DATEDIFF(NOW(), PT.RECRUIT_FINISH_DATE) AS DEADLINE,
                PT.RECRUIT_START_DATE,
                PT.RECRUIT_FINISH_DATE
            FROM MENTO_TB MT
            INNER JOIN PROGRAM_TB PT
            ON MT.MENTO_NO = PT.MENTO_NO
            WHERE PT.PROGRAM_NO = #{program_no}
        ]]>
    </select>

    <select id="selectProgramWeekList" parameterType="int" resultType="tuk.mento.common.vo.CustomMap">
        <![CDATA[
            SELECT
                PWT.DETAIL
            FROM PROGRAM_TB PT INNER JOIN
                 PROGRAM_WEEK_TB PWT
                 ON PT.PROGRAM_NO = PWT.PROGRAM_NO
            WHERE PT.PROGRAM_NO = #{program_no}
        ]]>
    </select>

    <insert id="participateProgramForMentee" parameterType="tuk.mento.common.vo.CustomMap">
		<![CDATA[
            INSERT INTO PROGRAM_PARTI_TB
                (
                    PROGRAM_NO,
                    MENTEE_NO,
                    REG_DT,
                    MOD_DT
                )
            VALUES
                (
                    #{program_no},
                    #{mentee_no},
                    NOW(),
                    NOW()
                );
        ]]>
	</insert>
</mapper>