<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tuk.mento.mapper.schedule.ScheduleMapper">
    <insert id="registerSchedule" parameterType="tuk.mento.common.vo.CustomMap">
        <![CDATA[
        INSERT INTO SCHEDULE_TB
            (
                PROGRAM_WEEK_NO,
                MENTO_NO,
                MENTEE_NO,
                USER_GB,
                SCHEDULE_GB,
                CONTENT,
                SCHEDULE_START_DATETIME,
                SCHEDULE_FINISH_DATETIME,
                REG_DT,
                MOD_DT
            )
        VALUES
            (
                #{program_week_no},
                #{mento_no},
                #{mentee_no},
                #{user_gb},
                #{schedule_gb},
                #{content},
                #{schedule_start_datetime},
                #{schedule_finish_datetime},
                NOW(),
                NOW()
            );
        ]]>
    </insert>

    <select id="selectAllScheduleByMento" parameterType="tuk.mento.common.vo.CustomMap" resultType="tuk.mento.common.vo.CustomMap">
        <![CDATA[
            SELECT
                ST.SCHEDULE_NO,
                ST.MENTO_NO,
                ST.MENTEE_NO,
                ST.USER_GB,
                ST.SCHEDULE_GB,
                ST.CONTENT,
                ST.SCHEDULE_START_DATETIME,
                ST.SCHEDULE_FINISH_DATETIME
            FROM SCHEDULE_TB ST
            INNER JOIN PROGRAM_WEEK_TB PWT
            ON ST.PROGRAM_WEEK_NO = PWT.PROGRAM_WEEK_NO
            WHERE PWT.PROGRAM_WEEK_NO IN
            (
                SELECT
                    PROGRAM_WEEK_NO
                FROM PROGRAM_WEEK_TB PWT2
                WHERE PWT2.PROGRAM_NO = #{program_no}
            )
           OR ST.MENTO_NO = #{user_no}
           OR ST.MENTEE_NO IN
            (
                SELECT
                    PPT.MENTEE_NO
                FROM PROGRAM_PARTI_TB PPT
                INNER JOIN PROGRAM_TB PT2
                WHERE PT2.MENTO_NO = #{user_no}
           )
           AND DATE_FORMAT(ST.SCHEDULE_START_DATETIME, "%Y-%m-%d") >= #{schedule_start_date}
           AND DATE_FORMAT(DATE_ADD(#{schedule_start_date}, interval 7 DAY), "%Y-%m-%d") <= DATE_FORMAT(ST.SCHEDULE_FINISH_DATETIME, "%Y-%m-%d")
        ]]>
    </select>

    <select id="selectAllScheduleByMentee" parameterType="tuk.mento.common.vo.CustomMap" resultType="tuk.mento.common.vo.CustomMap">
        <![CDATA[
            SELECT
                ST.SCHEDULE_NO,
                ST.MENTO_NO,
                ST.MENTEE_NO,
                ST.USER_GB,
                ST.SCHEDULE_GB,
                ST.CONTENT,
                ST.SCHEDULE_START_DATETIME,
                ST.SCHEDULE_FINISH_DATETIME
            FROM SCHEDULE_TB ST
            INNER JOIN PROGRAM_WEEK_TB PWT
            ON ST.PROGRAM_WEEK_NO = PWT.PROGRAM_WEEK_NO
            WHERE PWT.PROGRAM_WEEK_NO IN
            (
                SELECT
                    PROGRAM_WEEK_NO
                FROM PROGRAM_WEEK_TB PWT2
                WHERE PWT2.PROGRAM_NO = #{program_no}
            )
           OR ST.MENTEE_NO = #{user_no}
           OR ST.SCHEDULE_GB = '멘토'
        ]]>
    </select>
</mapper>